.newItemCard {
  max-width: 22rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.newItemCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.newItemImg {
  height: 150px;
  object-fit: cover;
}

.card-title {
  font-size: 1rem;
  height: auto;
}

.card-text {
  font-size: 0.9rem;
  color: #555;
}

.btn-primary:hover {
  background-color: #23272b;
}
